body {
    background-color: rgb(255, 255, 255);
    margin:0;
}

#logotext {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 60px;

}

.logo {
    background: linear-gradient(to bottom, #0d5cd3 0% 0%, #ffffff 60%);
    padding: 60px;/* some padding */
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* center the text */
    color: black;/* white text color */
    text-shadow: 1px 1px #66ffff ;
}

ul {
    
    position: fixed;
    top:0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
  }
  
  li {
    float: left;
    font-size: 30px;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }





html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}
#about {
    padding:2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    font-size: 50px;
    border-style: solid;
    
}

.AboutInfo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    padding: 10px
    
}

.space{
    padding:4%;
}

#Contact{
    padding:2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    border-style: solid;
    width: 50%;
}
.contactinfo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    padding: 10px
    
}

footer{
    padding: 4%;
    font-size: 40px;
    background: linear-gradient(to top, #0d5cd3 0%, #ffffff 70%);
    text-align: center;
}